
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag photo.avatar.url %>
   		
    </a>
    <%= link_to "edit", edit_photo_path(photo) %> |
    <%= link_to "remove", photo, :confirm => 'Are you sure?', :method => :delete %>
  </div>

  

    
  





  