html, body{
	height: 100%;
}

.show_page_body{
	height: 100%;
}
.main_page_header{
	text-align: center;
}
//shop signup form
.centered-form{
	margin-top: 60px;
}

.left-border{
	border-right-style: solid;
	border-width: 1px;
	height:100%;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.shop-signup-submit{
	width: 100%;
}
//end of shop signup form

//item edit page

// .upload{
// 	top:0;
// 	right:0;
// }

// .progress-striped{
// 	top:0;
// 	right:0;
// }

//end of item edit page

